<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="dblibrary.showdownConnectionString" connectionString="Data Source=D:\github-repos\showdownsharp\db\showdown.db" providerName="System.Data.SQLite"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
