<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dblibrary.Properties.Settings.showdownConnectionString" connectionString="data source=D:\github-repos\showdownsharp\db\showdown.db" providerName="System.Data.SQLite"/>
        <add name="DS.Showdown.DbLibrary.Properties.Settings.showdownConnectionString" connectionString="data source=D:\github-repos\showdownsharp\db\showdown.db" providerName="System.Data.SQLite"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
